form { padding: 0; margin: 0; }

.panel_wrapper { display: none; }

.panel_wrap {
    border: 1px solid #919b9c;
    border-top: 0;
    padding: .5em 0;
    margin: 0;
    background: #fff;
    float: left;
    width: 100%;
}
.panel_wrap .panel { display: none; }
.panel_wrap .current { display: block; width: 100%; height: auto; }

label { font-weight: bold; margin-bottom: .5em; display: block; }

#form_browse { margin: 0 .5em; }

.mceActionPanel { float: left; margin: .5em 0 0 0; }

.panel_wrap .nodes { margin: 0 .5em; padding: 0; }

#nodelist {
	padding: 0;
	height: 15em;
  width: 96%;
  overflow: auto;
  border: none;
}

th { border-bottom: 1px solid #999; }
td { text-align: left; padding: .05em .5em .05em 0; white-space: nowrap; }

tr { cursor: pointer; }
tr.head { cursor: auto; }
td.nid { display: none; }

#linktocontent-status-image {
  display: block;
  position: absolute;
  left: 125px;
  background: #fff;
  border: 1px solid #dadfe9;
  font-size: 14px;
  color: #333333;
  width: auto;
  padding-right: .5em;
  line-height: 42px;
  vertical-align: middle;
}
#linktocontent-status-image img {
  margin: 5px 10px;
  float: left;
}
